<div class="container-fluid" id="getit">
<button class="accordion">What</button>
<div class="panel">
  <p>“If one cannot enjoy reading a book over and over again, there is no use in reading it at all.”</p>
</div>

<button class="accordion">is it</button>
<div class="panel">
  <p>“The books that the world calls immoral are books that show the world its own shame.” </p>
</div>

<button class="accordion">About</button>
<div class="panel" id="last-one">
  <p>“Most people are other people. Their thoughts are someone else's opinions, their lives a mimicry, their passions a quotation.” </p>
</div>
</div>
<script>
	var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
