<% cache do %>
  <% sleep 2 %>
<div class="row" id="trap">
<div class="col-xs-6 .col-md-4" id="text">
<p>The Trap</p>
</div>
<div class="col-xs-12 .col-md-8">
<div class="embed-container">
<iframe width="300" height="200" src="https://www.youtube.com/embed/PGftOPfXzsM" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<% end %>

