<h1>Take action</h1>
<div class="container">
            <div class="col-sm-12">

                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Doubelcup</h1>
                            <div class="cta-desc">
                                <p>Brudis</p>
                                <p>Wiener Linien</p>
                                <p>Oida</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-default">Bam Fix</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">James Dean</h1>
                            <div class="cta-desc">
                                <p>My own</p>
                                <p>Way</p>
                                <p>of Perception</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-primary">Go for It!</a>
                        </div>
                     </div>
                </div>
				<div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Wasted</h1>
                            <div class="cta-desc">
                                <p>Thugger</p>
                                <p>and Gwuop</p>
                                <p>again</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-success">Chasin that money</a>
                        </div>
                     </div>
                </div>

            </div>
        </div>
