<div class="row">
<%= image_tag("Huar.jpg", class: "img-responsive") %>
<div class="Boy">
<p><blockquote> Fahr allein mit mein Ferrari
Camel Blue Tschick und mein Blackberry
Und ich fahr durch die Nacht und ich fahr durch die Stadt
Und ich fahr durch die Nacht und ich fahr durch die Stadt</blockquote></p>
</div>
</div>


<% test_variable = 42 %>
<%= test_variable %>
<%= test_variable - 2 %>