	<div class="col-lg-6 col-sm-6">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
        <%= image_tag("Huar.jpg", class: "img-responsive") %>
		<div class="Text"><p><blockquote> Fahr allein mit mein Ferrari
		Camel Blue Tschick und mein Blackberry
		Und ich fahr durch die Nacht und ich fahr durch die Stadt
		Und ich fahr durch die Nacht und ich fahr durch die Stadt</blockquote></p>
		</div>
        </div>
        <div class="card-info"> <span class="card-title">Yung Zen</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Soft-Hooligan</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Stoli</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Meiler</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>Der Scheiß ist weiß
				Bianco, Bianco
					Der Scheiß ist weiß
						Bianco, Bianco
							Der Scheiß ist weiß
					Bianco, Bianco</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>Stoli in der Hand und ich chill'
				Stoli in der Hand, hey was willst'?
					Eis, eiskalt ist gekühlt
						30 Grad im Sommer ist so schwül
							Lieb diesen Stoli so eiskalt</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>Richtiger shit
			Bist du nicht fit dann vertick ich dir Trips</h3>
        </div>
      </div>
    </div>
    
    </div>


<% test_variable = 42 %>
<%= test_variable %>
<%= test_variable - 2 %>