<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. Molly Molly Baby bist so Molly.</p>
    <%= image_tag("Huar.jpg", class: "img-responsive") %>
  </div><!-- / panel-body -->
</div><!-- / panel -->