
h1 {
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	color: black;
	text-align: center;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
p {
	text-algin: center;
	display: inline-block;
	font-size: 2em;
	width: 100%;
	margin-left: 1em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid #F83939;
}
footer {
	position:fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.Text blockquote {
	font-size: 2em;
	font-family: Georgia, 'Times New Roman', serif;
	text-align: justify;
}
.img-responsive {
	width: 100%;
    margin:auto;

}
.container-fluid {
	width: 100%;
}
.body {
	width: 100%;
	color: black;

}
.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }
        .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }
.cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
            }
#Pickup  {
    width: 400px;

}
.heading {
    padding-top: 30px;
}
#navi {
    width: 100%;
}
#rightwing {
    color: white;
}
#rightwing submit_tag {
    color: black;
}
#Array {
    margin-right: 15px;
    padding-left: 2em;
}
.execute {
    padding-left: 2em;

}
.Searchit {
    color: black;
    float: right;
    padding-right: 100px;
}
